*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #aaa; }

header {
  background-color: #666;
  padding: 2px; }
  header form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    border: 1px solid; }
    header form input,
    header form textarea,
    header form button {
      display: block;
      border: 1px solid; }
    header form input,
    header form textarea {
      width: 100%; }
    header form input {
      border-width: 1px 0 1px 1px; }
    header form textarea {
      border-width: 0 0 1px 1px; }
    header form button {
      height: 100%; }

.grow {
  flex-grow: 2; }

.rows {
  display: flex;
  flex-direction: column; }

.columns {
  display: flex;
  flex-direction: row; }
